.toggle-switch{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 60px;
    height: 30px;
}
.toggle-switch input{
    width: 0;
    height: 0;
}

.slider{
    position: relative;
    display: block;
    height: 100%;
    background-color: rgb(214, 214, 214);
    border-radius: 1.5rem;
}

.slider::before{
    content: "light";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

input:checked + .slider::before {
    content: "dark";
    transform: translateX(30px);
}