@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*==================================================================
                             light mode
====================================================================*/
:root{

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;

  --primary-text-color: #000;
  --primary-bg-color: #fff; 
  --page-bg-color: #fff;
  --button-hover-border-color: #000;
}

/*==================================================================
                             Dark mode
====================================================================*/
.darkmode{
  --primary-text-color: #fff;
  --primary-bg-color: radial-gradient(circle, hsla(0, 0%, 0%, 1) 0%, hsla(231, 85%, 18%, 1) 100%);
  --page-bg-color: radial-gradient(circle, hsla(0, 0%, 0%, 1) 0%, hsla(231, 85%, 18%, 1) 100%);
  --button-hover-border-color: #000;

}
/*==================================================================
                             
====================================================================*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{

 background: var(--page-bg-color);

}
header{
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

header nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  padding: 1em;
  z-index: 1111;
  width: 100vw;
  top: 0rem;
}

header nav h2{
  color: var(--primary-text-color);
}


.side-nav{

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    padding: 1em;
    z-index: 1111;
    width: 15vw;
    height: 90vh;
}


.icons{
  width: 1rem;
}
/*================================================================*/
/*                  My hero section                               */
/*================================================================*/
.hero-section{
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 70vh;
  margin-top: 1.5rem;
  gap:1.5rem;
  
}


.location-details{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
}

.weather-details h1{
  font-size: 8rem;
  color: aliceblue;
}
.search-form{
  width: 100%;

}

.search-form input{
  width: 25rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  background: #e4e3e3;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.weather-details{
  background: url('./assets/heroBG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 97%;
  height: 20rem;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.weather-details h3{
  color: #fff;
  font-size: 5rem;
}
.more-weather-details{
  display: flex;
  gap: 0.5rem;
  color: var(--primary-text-color)
}

.weather-icon{
  display: flex;
}
.weather-icon img{
  width: 10rem;
  height: 10rem;
}

.hourly-forecast-card{
  width: 30rem;
  height: 13rem;
    background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
}
.hourly-section{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
 
}

.hourly-card{
  display: flex;
  height: 5rem;
  width: 3rem;
  
}

.daily-weather-card{
  width: 15rem;
  height: 5rem;
}


.hourly-section {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 1rem 0;
  width: 100%;
}

.hourly-card {
  flex: 0 0 auto;
  width: 10rem;
}

.details-card{
    width: 30rem;
  height: 13rem;
    background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
}
/*================================================================*/
/*                  Media queries                                 */
/*================================================================*/

@media screen and (max-width: 320px) {

    .location-details h1{
      font-size: 5rem;
    }
    .searchBtn{
      display: none;
    }

.location-details input{
      width: 10rem;
    }

    .weather-details h3{
      font-size: 2rem;
    }
}

@media screen and (max-width: 480px){
    .hourly-card{
      gap: 0.5rem;
      flex-direction: column;
    }
    
    .location-details input{
      width: 15rem;
    }
}

@media screen and (max-width: 768px){
    .hourly-card{
      gap: 0.5rem;
      flex-direction: column;
    }
    .daily-weather-card{
      width: 20rem;
    }
}
